{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recipe Sharing Platform</title>
  <!-- Bootstrap CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
  <!-- Custom CSS -->
  <style>
    body {
      padding-top: 70px;
      /* Adjust padding to accommodate the fixed navbar */
    }
  </style>
</head>

<body>
  {% include 'header.html' %}

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">AllRecipes Information </h5>
            <p class="card-text">All AllRecipes Information Available Here</p>
            <a href="/AllRecipes/" class="btn btn-primary">View User</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tasty Information</h5>
            <p class="card-text">All Tasty Information Available Here</p>
            <a href="/Tasty/" class="btn btn-primary">View User</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Yummly Information</h5>
            <p class="card-text">All Yummly Information Available Here</p>
            <a href="/Yummly/" class="btn btn-primary">View Ingredient</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cookpad Information</h5>
            <p class="card-text">All Cookpad Information Available Here</p>
            <a href="/Cookpad/" class="btn btn-primary">View Ingredient</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}

  <!-- Bootstrap JS and dependencies -->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>